<!DOCTYPE html>
html
    head
        - var page = { title: 'О компании' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/about/cont.pug
        include inc/form.pug
        include inc/footer.pug
        include inc/scripts.pug