section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        .content
            h1 #{page.title}
            p.text-center.mt-5 Неправильно набран адрес, или такой страницы на сайте больше не существует.
            p.text-center Вернуться на <a href="/">главную</a>

