section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        .content
            h1 #{page.title}
            h2 Чем мы занимаемся
            p За многие годы существования компании каждое из наших подразделений сумело наработать обширную клиентскую базу, зарекомендовав себя эффективным бизнес-партнером.
            p В сфере перевозок грузов под таможенным контролем нашими клиентами многие годыявляются флагманы отечественной промышленности, такие как: БЕЛАЗ, БМЗ, НАФТАН, МТЗ, а также ряд крупных коммерческих организаций, для которых оперативная доставка на производство еще нерастаможенных грузов имеет решающее значение.
            p В сфере оказания услуг таможенного представителя (услуг по таможенной очистке грузов) нашими клиентами являются организации различной формы собственности: от индивидуальных предпринимателей до госпредприятий и дипломатических представительств.
            p В некоторых случаях наши услуги оказываются востребованными и физическими лицами, получающими (отправляющими) товары для личного пользования из-за границы (и обратно) либо теми, кто столкнулся с необходимостью таможенного оформления своего багажа при прибытии или убытии из страны.
            h2 Как все начиналось
            p Компания ООО ГЕНЕКС зарегистрирована в 1997 г. на территории аэропорта Минск как таможенное агентство и транспортно-экспедиционное предприятие по осуществлению перевозок грузов в международном сообщении авиационным и автомобильным транспортом.
            p В июле 2003 г. было принято решение о дальнейшем развитии фирмы как авиакомпании. Был приобретён первый самолёт Ан 2, выполнявший полеты на геомагнитную съемку, десантирование парашютистов, авиахимработы. В 2006 году компания начала выполнять грузовые авиаперевозки самолётами, Ан 26Б по международным воздушным линиям.
            p За истекший период из таможенного агентства со штатом 3 человека компания выросла в транспортное предприятие со своим самолётным парком и штатом сотрудников из 45 человек.

            h3 Наши клиенты

            .row.clients_slider
                -for(var i=0;i<=5;i++)
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        .item
                            img(src="img/cl_"+i+'.jpg')

