section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#") Таможенное оформление
            li.breadcrumb-item
                a(href="#content") #{page.title}
        .content
            h1 #{page.title}
            h2 Таможенное декларирование
            p Таможенный представитель – уполномоченная клиентом организация, контролирующая весь процесс прохождения груза через таможенный терминал, оформление документов и его декларирование. Наши специалисты осуществляют надзор за грузом и решают возникающие проблемы на таможне без непосредственного участия заказчика.
            p Таможенные агенты Genex Ltd. работают с грузами, размещаемыми на складах временного хранения (СВХ) в зоне деятельности таможни Национального аэропорта Минск:

            ul
                li СВХ РУП "Белпочта" - малогабаритные грузы, прибывающие в РБ международными экспресс-перевозчиками DHL, FeDex, TNT, UPS, в том числе для физических лиц.
                li СВХ РУП "Национальный аэропорт Минск" - объемные грузы, прибывающие по линии таких авиаперевозчиков, как Air Baltic, Belavia, Czech Airlines, Finnair, LOT, Lufthansa Cargo, Turkish Airlines и др.
                li СВХ ЗАО "Аскарготерминал" - крупногабаритные тяжелые грузы, прибывающие наземным транспортом как по линии TNT Economy Express, так и по индивидуальным заказам сторонними автоперевозчиками.
            p В зависимости от типа заказа, сотрудники нашей компании работают с импортными товарами, грузами, предназначенными для экспорта, а также транзитными грузами, проходящими через Национальный аэропорт Минск.


            h3 Документы

            .row.documents
                -for(var i=0;i<=3;i++)
                    .col-12.col-sm-6.col-md-6.col-xl-4
                        .item
                            img(src="img/file.svg")
                            span.doc_name Договор поручения.<a href="img/cl_1.jpg" download>pdf</a>

