section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        h1 #{page.title}
        h2 Офис Генекс
        .row.row_contacts_page
            .col-12.col-sm-12.col-md-6.col-xl-5
                p.c_title.address Адрес
                p 220054 Национальный аэропорт Минск,<br> г. Минск, Республика Беларусь
            .col-12.col-sm-12.col-md-6.col-xl-4
                p.c_title.phones Телефоны
                p +375 172 35 45 01 (т/ф) <br>+375 172 35 45 02
            .col-12.col-sm-12.col-md-6.col-xl-3
                p.c_title.email Электронная почта
                a.email(href="mailto:info@genex.by") info@genex.by

            .col-12.map.mt-2
                script( type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acb6683215c0ca3f0a123e83fd228028a58aede056f441cf7e497e5cea4eeb914&amp;width=100%&amp;height=475&amp;lang=ru_RU&amp;scroll=false")
        .row.departments
            .col-12.col-sm-12.col-md-6
                .contact_department
                    p.department_title ДИРЕКТОР (ЧАРТЕРНЫЕ АВИАПЕРЕВОЗКИ)
                    p.contact_name Терещенко Евгений Станиславович - <span>директор компании</span>
                    p.phone +375 17 235 4501
            .col-12.col-sm-12.col-md-6
                .contact_department
                    p.department_title БУХГАЛТЕРИЯ И ОТДЕЛ КАДРОВ
                    p.contact_name Бабенко Анастасия Александровна - <span>главный бухгалтер</span>
                    p.phone +375 17 235 4501
            .col-12.col-sm-12.col-md-6
                .contact_department
                    p.department_title АВИАЦИОННЫЙ ОТРЯД
                    p.contact_name Миронович Александр Петрович - <span>начальник штаба</span>
                    p.contact_name Грамович Василий Вячеславович - <span>командир авиационного отряда</span>
                    p.phone +375 17 235 4501
            .col-12.col-sm-12.col-md-6
                .contact_department
                    p.department_title ИНЖЕНЕРНО-АВИАЦИОННАЯ СЛУЖБА
                    p.contact_name Жулега Сергей Владимирович - <span>начальник ОТК</span>
                    p.phone +375 17 235 4503
            .col-12.col-sm-12.col-md-6
                .contact_department
                    p.department_title ДЕЖУРНЫЙ ШТУРМАН (ЧАРТЕРНЫЕ АВИАПЕРЕВОЗКИ)
                    p.contact_name Савенок Александр Сергеевич
                    p.phone +375 17 235 4502
                    p
                        a.email(href="mailto:ops@genex.by") ops@genex.by
            .col-12.col-sm-12.col-md-6
                .contact_department
                    p.department_title ОТДЕЛ ТАМОЖЕННОГО ОФОРМЛЕНИЯ
                    p.phone +375 29 145 29 77
                    p
                        a.email(href="mailto:genex-logist@mail.ru") genex-logist@mail.ru
            .col-12.col-sm-12.col-md-6
                .contact_department
                    p.department_title АВТОПЕРЕВОЗКА ГРУЗОВ И УСЛУГИ ТАМОЖЕННОГО ПЕРЕВОЗЧИКА
                    p.contact_name Петрицкий Денис
                    p.phone +375 29 679 59 53


